.community_body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 24px;
    padding-bottom: 24px;
    column-gap: 24px;
    row-gap: 24px;
    background-color: white;
}

.community_card{
    position: relative;
    max-width: 265px;
    width: 263px;
    /* border: 1px solid var(--border-color); */
    display: flex;
    justify-content: center;
    align-items: center;    
}

.card_center{
    position: absolute;    
    display: flex;
    justify-content: center;
    align-items: center;  
    top: 28%;  
}

.mark_image{
    width: 123px;
    height: 103px;
    background-color: white;
    border-radius: 9px;
    box-shadow: 0px 3px 6px #00000016;
}

.mark_image img{
    width: 100%;
    height: 100%;
    border-radius: 9px;
}

.p_title{
    padding: 24px;
    background-color: white;
}


.cardaction{
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid var(--border-color);  
    position: relative; 
    padding: 0 !important; 
}

.cardaction button{
    width: 100%;
    margin: 0px !important;
    border-radius: 0px;
}
