.post_content{
    padding: 18px 32px;
    /* border: 1px solid red; */
    color: var(--text-color);
    /* box-shadow: 0 3px 6px #00000016; */
}

.comment_items{
    display: flex;    
    margin-top: 15px;
    margin-left: 9px;
}

.comment_meta2{
    display: flex;
    align-items: center;  
    color: var(--text-color-secondary); 
    margin-left: -8px; 
}

.post_media{
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}


.post_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color-secondary);
}

.active_item .icon_button{
    background-color: #00CCF2 ;
    box-shadow: 0px 2px 6px #4641418c;
}

.active_item .icon_button:hover{
    background-color: #0adaff ;
    box-shadow: none;
}

.active_item .icon_button svg{
    fill: white;
    font-size: 15px;
}

.author_data svg{
    font-size: 20px;
    fill: var(--text-color-secondary);
}

@media only screen and (max-width: 600px){
    .post_content{
        padding-left: 17px !important;
        padding-right: 17px !important;
    }

}